*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

body{
    background: #201b2c;
}

.logo{
    font-size: 25pt;
    font-weight: 700;
    color:#ffffff;
}

#logout_button{
    color: #863cff;
}

.navlist{
    display: flex;
}
.navlist a{
    color: #ffffff;
    margin-left: 60px;
    font-size: 12pt;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all 0.55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid #ffffff;
}

#menu_icon{
    color: #ffffff;
    font-size: 18pt;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.section_body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    width: 100%;
    height: 550px;
    max-width: 820px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, .4);
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    z-index: 1000;
    margin-top: 30px;
}

.contact{
    background: #000000;
}
.submit_form{
    background: #863cff;
}

.first_text{
    color: #ffffff;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 30px;
    color: #9d6dff;
    font-weight: 600;
    text-transform: capitalize;
}

.social_links{
    margin-left: 20px;
}

.image{
    height: 350px;
    width: 350px;
    margin-left: 20px;
}

.social_media{
    display: flex;
    list-style: none;
}
ul li{
    padding-left: 15px;
    font-size: 24px;
    margin-top: 10px;

}
i{
    background: #863cff;
    padding: 5px;
    border-radius: 5px;
    transition: .3s;
    color: #ffffff;
}
.social_media i:hover{
    background: #ffffff;
    color: #863cff;
}
.second_text{
    font-weight: 500;
    color: #863cff;
    padding-left: 20px;
}
.third_text{
    font-size: 25px;
    position: relative;
    top: 20px;
    left: 20px;
    padding-top: 10px;
    color: #ffffff;
}
form{
    padding: 0 50px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.input_box{
    height: 40px;
    width: 70%;
    margin: 30px 0;
    position: relative;
}

.input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    color: #ffffff;
    font-size: 16px;
}
.input_box label{
    position: absolute;
    top: 50%;
    left: 10px;
    padding-left: 10px;
    transform: translateY(-50%);
    font-weight: 500;
    color: #ffffff;
    transition: .3s;
}

.input_box .input:focus ~ label,
.input_box .input:valid ~ label{
    top: -1px;
    left: 10px;
    background: #863cff;
    font-weight: 500;
    font-size: 12px;
    padding: 5px;
}
textarea.input{
    resize: none;
    min-height: 150px;
    overflow: auto;
    padding-top: 10px;

}
.btn{
    position: relative;
    top: 100px;
    background: #ffffff;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 45px;
    width: 30%;
    font-size: 16px;
    color: #8f50ec;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background: #21054f;
}

@media(max-width:850px){
    .item{
        grid-template-columns: 1fr;
    }
    .contact{
        display: none;
    }
    .text{
        font-size: 40px;
        text-align: center;
    }
    .btn{
        width: 25%;
        height: 40px;
        font-size: 12px;
    }
}

@media(max-width:480px){
    .item{
        grid-template-columns: 1fr;
    }
    .contact{
        display: none;
    }
    .text{
        font-size: 20px;
        text-align: center;
    }
    .btn{
        width: 20%;
        height: 40px;
        font-size: 12px;
    }
}