*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo{
    font-size: 25pt;
    font-weight: 700;
    color:#ffffff;
}

#logout_button{
    color: #863cff;
}

.navlist{
    display: flex;
}
.navlist a{
    color: #ffffff;
    margin-left: 60px;
    font-size: 12pt;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all 0.55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid #ffffff;
}

#menu_icon{
    color: #ffffff;
    font-size: 18pt;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.display_image{
    padding-top: 120px;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: #201b2c;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 0 19%;
}
.display_image_text h5{
    font-size: 13pt;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 30px;
}
.display_image_text h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 60pt;
    line-height: 1;
    color: #ffffff;
    margin: 0 0 45px;
}
.display_image_text h4{
    font-size: 15pt;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 10px;
}
.display_image_text p{
    color: #ffffff;
    font-size: 18pt;
    line-height: 1.9;
    margin-bottom: 20px;
}

.display_image_img{
    padding-left: 50px;
}
.display_image_img img{
    width: 35vw;
    height: auto;
}
.display_image_text a{
    display: inline-block;
    color: #ffffff;
    background: #9d6dff;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 12pt;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 0.55s ease;
}
.display_image_text a:hover{
    background: transparent;
    border: 1px solid #ffffff;
    transform: translateX(8px);
}
.display_image_text a.ctaa{
    background: transparent;
    border: 1px solid #ffffff;
    margin-left: 20px;
}
.display_image_text a.ctaa{
    vertical-align: middle;
    margin-right: 5px;
}
.display_image_text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}

.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons i{
    display: block;
    margin: 26px 0;
    font-size: 18pt;
    color: #ffffff;
    transition: all 0.5 ease;
}
.icons i:hover{
    color: #9d6dff;
    transform: translateY(-5px);
}

.scroll_down{
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll_down i{
    display: block;
    padding: 12px;
    font-size: 22pt;
    color: #ffffff;
    background: #9d6dff;
    border-radius: 30px;
    transition: all 0.5s ease;
}
.scroll_down i:hover{
    transform: translateY(-5px);
}

@media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: 0.2s;
    }
    .icons{
        padding: 0 3%;
        transition: 0.2s;
    }
    .scroll_down{
        right: 3%;
        transition: 0.2s;
    }
}
@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: 0.2s;
    }
}
@media (max-width: 1340px){
    .display_image_img img{
        width: 100%;
        height: auto;
    }
    .display_image_text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .display_image_text h5{
        margin-bottom: 25px;
    }
}
@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: 0.2s;
    }
    .display_image_text{
        padding-top: 115px;
    }
    .display_image_img{
        text-align: center;
    }
    .display_image_img img{
        width: 560px;
        height: auto;
    }
    .display_image{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .icons{
        display: none;
    }
    .scroll_down{
        display: none;
    }
}
@media (max-width: 990px){
    #menu_icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 45vh;
        background: #9d6dff;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all 0.55s ease;
    }
    .navlist a{
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }
    .navlist.open{
        right: 0;
    }
}
@media (max-width: 680px){
    .display_image_img img{
        width: 100%;
        height: auto;
    }
}