*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo{
    font-size: 25pt;
    font-weight: 700;
    color:#ffffff;
}

.navlist{
    display: flex;
}
.navlist a{
    color: #ffffff;
    margin-left: 60px;
    font-size: 12pt;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all 0.55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid #ffffff;
}

body{
    background: #201b2c;
}

.display_image{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: #201b2c;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 0 19%;
}

.display_image_text h1{
    font-size: 45pt;
    line-height: 1;
    color: #ffffff;
    margin: 0 0 20px;
}
.display_image_text p{
    color: #ffffff;
    font-size: 14pt;
    line-height: 1.9;
    margin-bottom: 20px;
}
.display_image_img img{
    width: 35vw;
    height: auto;
}
