{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contato</title>

    <!-- CSS principal -->
    <link rel="stylesheet" href="{% static 'css/contato.css' %}" />

    <!-- Boxicons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- Remixicons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="#" class="logo">Breguenarts</a>
      <ul class="navlist">
        <li><a href="{% url 'home' %}">Home</a></li>
         <li><a href="{% url 'sobre' %}">Sobre</a></li>
        <li><a href="{% url 'lista' %}">Produtos</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <!--<li><a href="#" id="logout_button">Sair</a></li>-->
      </ul>
      <div class="bx bx-menu" id="menu_icon"></div>
    </header>

<section class="section_body">
    <div class="container">
        <div class="item">
            <div class="contact">
                <div class="first_text">Tem alguma sugestão?</div>
                <img src="{% static 'imagens/teamwork-illustration-svg-download-png-2371076.webp' %}" alt="" class="image">
                <div class="social_links">
                    <span class="second_text">Conecte-se conosco</span>
                    <ul class="social_media">
                        <li><a href="#"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#"><i class='bx bxl-whatsapp' ></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="submit_form">
                <h4 class="third_text text">Fale com a gente</h4>
                <form action="">
                    <div class="input_box">
                        <input type="text" class="input" required>
                        <label for="">Nome</label>
                    </div>
                    <div class="input_box">
                        <input type="email" class="input" required>
                        <label for="">E-mail</label>
                    </div>
                    <div class="input_box">
                        <input type="text" class="input" required>
                        <label for="">Celular</label>
                    </div>
                    <div class="input_box">
                        <textarea name="" id="message" class="input" required cols="30" rows="10"></textarea>
                        <label for="">Mensagem</label>
                    </div>
                    <input type="submit" class="btn" value="Submit">
                </form>
            </div>
        </div>
    </div>

</section>

    <div class="scroll_down">
      <a href="#"><i class="ri-arrow-down-s-fill"></i></a>
    </div>

    <!-- ScrollReveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- JS do menu -->
    <script src="{% static 'js/home.js' %}"></script>
  </body>
</html>
