{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>

    <!-- CSS principal -->
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}" />

    <!-- Boxicons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- Remixicons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="#" class="logo">Breguenarts</a>
      <ul class="navlist">
        <li><a href="{% url 'home' %}">Home</a></li>
         <li><a href="{% url 'sobre' %}">Sobre</a></li>
        <li><a href="{% url 'lista' %}">Produtos</a></li>
        <li><a href="{% url 'contato' %}">Contato</a></li>
       <!-- <li><a href="#" id="logout_button">Sair</a></li>-->
      </ul>
      <div class="bx bx-menu" id="menu_icon"></div>
      </header>

    <section class="portfolio_section" id="portfolio">
      <h1 id="main_title">Portfolio</h1>

      <div class="portfolio_aligner">
        <div class="portfolio_grid"><div class="border"><img src="{% static 'imagens/caneca-vermelha.png' %}" class="portfolio_img"></div></div>
        <div class="portfolio_grid"><div class="border"><img src="{% static 'imagens/caneca-amarela.png' %}" class="portfolio_img"></div></div>
        <div class="portfolio_grid"><div class="border"><img src="{% static 'imagens/belinha.png' %}" class="portfolio_img"></div></div>
        <div class="portfolio_grid"><div class="border"><img src="{% static 'imagens/camiseta-yuri.png' %}" class="portfolio_img"></div></div>
        <div class="portfolio_grid"><div class="border"><img src="{% static 'imagens/lucas-frente.png' %}" class="portfolio_img"></div></div>
        <div class="portfolio_grid"><div class="border"><img src="{% static 'imagens/lucas-costa.png' %}" class="portfolio_img"></div></div>
        <div class="portfolio_grid"><div class="border"><img src="{% static 'imagens/nathan-frente.png' %}" class="portfolio_img"></div></div>
        <div class="portfolio_grid"><div class="border"><img src="{% static 'imagens/nathan-costa.png' %}" class="portfolio_img"></div></div>
      </div>
    </section>

    <div class="scroll_down">
      <a href="#"><i class="ri-arrow-down-s-fill"></i></a>
    </div>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="{% static 'js/home.js' %}"></script>
  </body>
</html>